* {
    box-sizing: border-box;
}
body {
    background-color: rgb(107, 93, 112);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 100vh;
    margin: 0;
}
.btn {
    color: wheat;
    background-color: rgb(50, 48, 133);
    width: 150px;
    height: 60px;
    margin: 10px;
    padding: 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    outline: none;
    border: none;
}
.btn:hover {
    cursor: pointer;
}
.btn:active {
    transform: scale(0.98);
}